html {
    height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
#content {
    flex: 1;
    display: flex;
    flex-direction: row;
}
#side-menu {
    flex: 2;
}
#main {
    flex: 5;
}
#footer {
    min-height: 27px;
}
header, footer, #content {
    background:#fafafa;
    border: 5px solid #dadada;
    margin: 5px;
    padding: 5px;
}
#side-menu {
    background: #cde3b1;
    border: 5px solid #1a480c;
    margin: 5px;
    padding: 5px;
}
#m1, #m2 {
    background: #a6b099;
    border: 5px solid #227b06;
    margin: 5px;
    padding: 5px;
}
#main {
    background: #c2e1f1;
    border: 5px solid #04303e;
    margin: 5px;
    padding: 5px;
}
#top-menu-bar {
    text-align: center;
    background-color: #334455;
    color: #fff;
    padding: 13px 12px 12px 12px;
}
#top-menu-bar li {
    display: inline;
}
#top-menu-bar a {
    font-weight: bold;    text-decoration: none;
    padding: 12px 15px 12px 15px;
    color: #fff;
    border-radius: 3px;
}
#top-menu-bar a:visited {
    color: #fff;
}
#top-menu-bar a:hover {
    color:#334455;
    background: #fff;
    transition: .7s;
}
.favo {
    font-weight:bold;
    color: red;
}
.lng {
    font-style:italic;
}
#cpr {
    text-align: center;
    background-color: #cde3b1;
    padding: 12px;
}
.alter {
    background: #e9efe2;
}
td {
    padding: 3px;
    width: 100px;
}
#QnA {
    margin-bottom: 16px;
}
.pag {
    background:#fff;
}